@media screen and (max-width:1202px){
    #banner h1{
        font-size:50px;
    }
    
    .logo-center{
        text-align:center !important;
    }
}@media screen and (max-width:1102px){
    #banner h1{
        font-size:45px;
    }
   
   
}@media screen and (max-width:900px){
    #banner h1{
        font-size:40px;
        padding:0px;
        margin:0px;
    }
    #banner p{
        padding:0px;
    }
    #banner #btn1{
        width:50%;
    }
    header ul{
        float: left;
    }
    #banner img{
        height:100%;
    }
}@media screen and (max-width:680px){
    #banner h1{
        font-size:40px;
        padding:0px;
        margin:0px;
    }
    #banner p{
        padding:0px;
    }
    #banner #btn1{
        width:50%;
    }
   
    .box01{
        margin-bottom:40px;
    }
    #about h5{
        padding-top:50px;
    }
}
@media screen and (max-width:670px){
    #banner img{
        height:100vh;
    }
    header ul li{
        
    margin-left: 20px;
    }
    #overlay{
        position: absolute;
        text-align: left;
        top: 20%;/*y*/
        left: 3%;/*x*/
        transform: translate(-3% , -20%);
        padding: 10px 20px;
    }
    #banner #overlay h1{
        font-size:100px;
    }
    #banner #overlay p{
        font-size:28px;
        padding-top:30px;
    }
    #banner #btn1{
        left: 20px;
    transform: none;
    text-align: center;
    padding: 30px 0px;
    bottom: -135px;
    font-size: 35px;
    letter-spacing: 4px;
        
    }
    #flex-box P{
        text-align: justify;
        padding: 10px 14px;
        font-size: 500;
        font-size: 20px;
        transition: all .8s;
        font-weight: 600;
    }
}
@media screen and (max-width:710px){
    .hidden-div{
        display:none;
    }
    nav{
        height: 100vh;
        position: absolute;
        background:#1b1b1b;
        z-index: 9999;
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
    .rm{
        margin:0px;
        padding:0px !important;
    }
    header{
        margin:0px;
        padding:10px;
    }
    header ul{
        float: none;
        width:100%;
        height:100%;
        display: block;
        text-align:center;
    }
    header ul li{
        float: none;
        margin-left:0px;
        margin-top:100px;
    }
    header ul li a:link,header ul li a:visited{
        font-size:30px;
        color:white;
        font-weight:700;
    }

nav {
    display: none;
}
#click{
    display:;
    position: absolute;
    top: -65px;
    right: 36px;
    height: 40px;
    width: 40px;
}
#click:checked ~ nav{
    display:block;
}
.logo-center {
    text-align:left !important;
    margin-left:20px;
    
}
.logo-center img {
    height:100px;
    width:200px;
    
}
.hamberger{
    display: block;
    position: absolute;
    top: -89px;
    right: 17px;
    z-index: 9999;
}

}